
<div class="slider">
    <ul class="slides">
      <li>
         <img class="responsive-img" src="images/laceCookies.jpeg" alt=""> 
         <div class="caption center-align">
          <h2 class="text-shadow">Take Your Cookies To Next Level</h2>
          <h4 class="white-text hide-on-small-only">We are at the top level so come and vist us!</h4>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="images/muffin.jpg" alt="">
        <div class="caption center-align">
          <h2 class="text-shadow">Take Your Dream and Make It Come True</h2>
          <h4 class="white-text hide-on-small-only">Come and eat and see all your dreams come true!</h4>
        </div> 
      </li>
      <li>
        <img class="responsive-img" src="images/bun.jpg" alt="">
        <div class="caption center-align">
          <h2 class="text-shadow">Take Your Taste Bubs on a Dream Vacation</h2>
          <h4 class="white-text hide-on-small-only">When you close yours eyes you will find us in your dreams!</h4>
        </div> 
      </li>
      <li>
        <img class="responsive-img" src="images/Cheesecake.jpg">
        <div class="caption center-align">
          <h2 class="text-shadow">Have Your Cake and Eat It</h2>
          <h4 class="white-text hide-on-small-only">Our cakes are so delicious that we dare you to have only one slice!</h4>
          
        </div> 
      </li>
    </ul>
  </div>
      